---
import '../style/main.css'
import Base from "../layouts/base.astro";
---

    <Base>

        <div class="h-90v grid items-center">
            <div class="mx-auto grid items-center">
                <p class="text-5xl text-blue-700">404 Page Not Found</p> 
                <div class="text-center text-xl text-blue-400 my-5">
                    Check URL for spelling errors
                </div>
                <a href="/" class="px-5 py-2 rounded-lg bg-blue-700 shadow-md mx-auto text-white">Go back Home</a>
            </div>
        </div>
        
    </Base>

