---
import '../style/main.css'
import Base from "../layouts/base.astro";
---

<Base 
title="About iUs | Mctech Fiji"
description="Learn about Mctech Computers Fiji, your trusted technology partner providing top-notch computer products, printers, networks, and tech services in Fiji. Discover our commitment to quality, service, and customer satisfaction."
keywords="Mctech Computers Fiji, about us, technology partner, computer products, printers, networks, tech services, customer satisfaction"
>


<div class="grid grid-cols-2 w-4/5 mx-auto gap-10 mt-20 mb-40">
    <div class=""><img src="/images/about.jpeg" alt="" class="w-full rounded-md"></div>
    <div>
        <p class="h1">History</p>
        <p>Experience the transformative power of MC Tech Computer Companies, the unrivaled pioneers in evolving technology. Since 2004, our visionary group of engineers has redefined the market, delivering high-quality sales and services in audio-video, security equipment, and system integration. With an unwavering commitment to innovation and customer satisfaction, we push boundaries, exceed expectations, and shape the future of technology. Step into a world where possibilities are endless, as we unleash the full potential of evolving tech, revolutionizing industries and empowering businesses. Join us on this extraordinary journey towards a brighter, tech-driven tomorrow.</p>
    </div>
</div>

<div class="grid grid-cols-2 w-4/5 mx-auto gap-10 mt-20 mb-40">
    
    <div>
        <p class="h1">Scope</p>
        <p>The acivity scope of the company includes: 
            <br> 
        &rarr; Research, Design and Realization of complete information solutions in business administration, economy, education etc., as well as all subsidiary activites. 
            <br>
        &rarr; Consultancy, Service of Information Technology system, audio video & security systems and system intergration
            <br>
        &rarr; Software and Hardware intergraitons of these systems</p>
    </div>
    <div class=""><img src="/images/scope.jpg" alt="" class="w-full rounded-md"></div>
</div>

<div class="grid grid-cols-2 w-4/5 mx-auto gap-10 mt-20 mb-40">
    <div class=""><img src="/images/objective.webp" alt="" class="w-full rounded-md"></div>
    <div>
        <p class="h1">Objectives</p>
        <p>
            &rarr; Quality - MC Tech computer invests time, money and resources necessary to ensure the desired quality and growth in terms of rapidly evolvoing market 
            <br>
        &rarr; Service - only by understabding the needs of its customers the compnay can provide high quality services
            <br>
        &rarr; Efficiiency - the compnay belives that the best way to provide its people with the oppotunity to learn and improve is to provide its people with the oppotunity to learn and improve
            <br>
        &rarr; Innovation - log term success can only be assured by cultivating new ideas
        </p>
    </div>
</div>

</Base>

<style>
img{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

</style>