---
import '../style/main.css'
import Base from "../layouts/base.astro";
---

<Base title="About Us">


<div class="grid grid-cols-2 w-4/5 mx-auto gap-10 mt-20 mb-40">
    <div class=""><img src="/images/about.jpeg" alt="" class="w-full rounded-md"></div>
    <div>
        <p class="h1">History</p>
        <p>In a state of evergrowing and rapidly evolving market for evolving technology, audio video & securty equipment and their system intergration recognizing the need of a company that could offer high quality of sales and services, a group of engineers founded the "MC Tech Computer Companies". The office in Suva was established on the 30th of November, 2004</p>
    </div>
</div>

<div class="grid grid-cols-2 w-4/5 mx-auto gap-10 mt-20 mb-40">
    
    <div>
        <p class="h1">Scope</p>
        <p>The acivity scope of the company includes: 
            <br> 
        &rarr; Research, Design and Realization of complete information solutions in business administration, economy, education etc., as well as all subsidiary activites. 
            <br>
        &rarr; Consultancy, Service of Information Technology system, audio video & security systems and system intergration
            <br>
        &rarr; Software and Hardware intergraitons of these systems</p>
    </div>
    <div class=""><img src="/images/scope.jpg" alt="" class="w-full rounded-md"></div>
</div>

<div class="grid grid-cols-2 w-4/5 mx-auto gap-10 mt-20 mb-40">
    <div class=""><img src="/images/objective.webp" alt="" class="w-full rounded-md"></div>
    <div>
        <p class="h1">Objectives</p>
        <p>
            &rarr; Quality - MC Tech computer invests time, money and resources necessary to ensure the desired quality and growth in terms of rapidly evolvoing market 
            <br>
        &rarr; Service - only by understabding the needs of its customers the compnay can provide high quality services
            <br>
        &rarr; Efficiiency - the compnay belives that the best way to provide its people with the oppotunity to learn and improve is to provide its people with the oppotunity to learn and improve
            <br>
        &rarr; Innovation - log term success can only be assured by cultivating new ideas
        </p>
    </div>
</div>

</Base>

<style>
img{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

</style>