---
import '../style/main.css'
import Card from '../components/Card.astro';
import Base from "../layouts/base.astro";
import Search from '../components/Search.astro';


const all = await Astro.glob('../pages/accessories/*.md');

---

<Base 
title="Computer Accessories | Mctech Fiji"
description="Explore a variety of high-quality computer accessories at Mctech Computers Fiji. Elevate your computing experience with our wide range of accessories including monitors, keyboards, mice, headphones, and more. Find the perfect additions to enhance your setup"
keywords="Computer accessories, Mctech Computers Fiji, monitors, keyboards, mice, headphones, computing experience, enhance setup"
>
    <h1 class="h1">Our Accessories Collection</h1>
    <Search/>
   <div class="grid grid-cols-1 md:grid-cols-4 gap-10 w-4/5 m-auto">
        {all.map(info => <Card { info } />)} 
    </div>

    
</Base>