---
import '../style/main.css'
import Card from '../components/Card.astro';
import Base from "../layouts/base.astro";
import Search from '../components/Search.astro';
const all = await Astro.glob('../pages/computers/*.md');

---

<Base 
title="Computers | Mctech Fiji"
description="Discover a wide range of high-quality computers at Mctech Computers Fiji. From powerful desktops to versatile laptops, we offer cutting-edge technology to meet your computing needs. Explore our selection and find the perfect computer for your tasks.  "
keywords="Computers, Mctech Computers Fiji, desktops, laptops, high-quality, cutting-edge technology, computing needs"
>

    <h1 class="h1">Our Computer Collection</h1>
    
    <Search/>
    
    
   <div class="grid grid-cols-1 md:grid-cols-4 gap-10 w-4/5 m-auto">
        {
            all.map(info => <Card { info } />)
         } 
    </div>

    
</Base>




