---
import '../style/main.css'
import Card from '../components/Card.astro';
import Base from "../layouts/base.astro";
import Hero from "../components/Hero.astro";

const all = await Astro.glob('../pages/computers/*.md');
const content = all.slice(0, 4)

---

<Base title="Home">
    <h1 class="text-4xl font-boold text-center my-10">Our Computer Collection</h1>
    
    <div class="grid grid-cols-4 gap-10 w-4/5 m-auto">
        {content.map(info => <Card { info }/>)}
    </div>

    
</Base>