---
import '../style/main.css'
import Base from "../layouts/base.astro";
import Hero from "../components/Hero.astro";
import HeroProductCards from '../components/HeroProductCards.astro';
import Contact from '../components/Contact.astro';
import Slider from '../components/Slider.astro';
import Carousel from '../components/Carousel.astro';
---

<Base title="Home">

<Hero 
    title1="Providing Computer "
    title2="Services to Fiji"
    imgPath="/images/hero.png"
/>

<Slider />

<p class="h1" id="products">Our Products</p>

<div class="grid w-4/5 grid-cols-1 md:grid-cols-3 mx-auto gap-20 mb-20">

    <HeroProductCards 
        title="computer"
        imgPath="/images/computer.png"
        path="/computers"
    />
    <HeroProductCards 
        title="printers"
        imgPath="/images/printer.png"
        path="/printers"
    />
    <HeroProductCards 
        title="network"
        imgPath="/images/router.png"
        path="/networks"
    />

</div>

<Carousel />

<div class="w-full bg-blue-700 h-min py-5 md:py-14 mb-20">
        
    <div class="flex items-center flex-col md:flex-row w-4/5  bg-procyon-highlight-purple h-min justify-between mx-auto">
        <p class="text-blue-50 text-2xl md:text-4xl font-extrabold h-min md:text-right text-center mb-2 md:mb-0">
            <span class="italic mr-1">Ready </span> <span> to work with us?</span>
        </p>
        <div class="">
        <a href="#contact">
            <button class="bg-blue-50 px-8 rounded-md py-2 mx-auto transition hover:bg-blue-200">Hire Us</button>
        </a>
        </div>
    </div>
    
</div>

<p class="h1" id="contact">Talk to Us Today</p>
<Contact/>

<style>

.buttons:hover{
    transition: 0.3s;
    background: #374151;
}

</style>


</Base>
