---
import Base from "../layouts/base.astro";
import Hero from "../components/Hero.astro";
---

<Base title="Home">


<!-- about us -->
<p>About us</p>
<div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis obcaecati aliquid, animi sint facere quae reprehenderit illo voluptates, quasi itaque, velit dolore. Dicta nesciunt modi fugit debitis quam cum delectus?</p>
    <div>
        <img src="/images/about.jpg" alt="">
    </div>
    

</div>


</Base>