---
import '../style/main.css'
import Card from '../components/Card.astro';
import Base from "../layouts/base.astro";
import Hero from "../components/Hero.astro";
import Search from '../components/Search.astro';

const all = await Astro.glob('../pages/laptop/*.md');

---

<Base 
title="Laptops | Mctech Fiji"
description="Explore a diverse collection of top-notch laptops at Mctech Computers Fiji. Whether you need a lightweight ultrabook for portability or a high-performance laptop for demanding tasks, we have the perfect laptop to cater to your requirements."
keywords="Laptops, Mctech Computers Fiji, ultrabooks, high-performance laptops, top-notch, portable laptops, demanding tasks"
>
    <h1 class="h1">Our Laptop Collection</h1>
    <Search/>
   <div class="grid grid-cols-1 md:grid-cols-4 gap-10 w-4/5 m-auto">
        {all.map(info => <Card { info } />)} 
    </div>

    
</Base>