---
import '../style/main.css'
import Card from '../components/Card.astro';
import Base from "../layouts/base.astro";
import Hero from "../components/Hero.astro";
import Search from '../components/Search.astro';

const all = await Astro.glob('../pages/laptop/*.md');

---

<Base 
title="Mctech Computers Fiji"
description="Explore a wide range of high-quality computers, printers, and network solutions at Mctech Computers Fiji. We offer top-notch computer products, printers, laptops, accessories, and networking equipment. Contact us for reliable tech services and support."
keywords="Mctech Computers, Fiji tech company, computer products, printers, networks, laptops, accessories, computer parts, monitors, software, tech services, support"
>
    <h1 class="h1">Our Laptop Collection</h1>
    <Search/>
   <div class="grid grid-cols-1 md:grid-cols-4 gap-10 w-4/5 m-auto">
        {all.map(info => <Card { info } />)} 
    </div>

    
</Base>