---
import '../style/main.css'
import Card from '../components/Card.astro';
import Base from "../layouts/base.astro";
import Hero from "../components/Hero.astro";
import Search from '../components/Search.astro';

const all = await Astro.glob('../pages/parts/*.md');

---

<Base 
title="Computer Parts | Mctech Fiji"
description="Find a wide selection of quality computer parts at Mctech Computers Fiji. Whether you're upgrading or building a PC from scratch, explore components like CPUs, GPUs, RAM, storage, and more. Build your computer with confidence using our reliable and high-performance parts."
keywords="Computer parts, Mctech Computers Fiji, CPUs, GPUs, RAM, storage, PC components, upgrading, building a PC, high-performance parts, reliable components"
>
    <h1 class="h1">Our Parts Collection</h1>
    <Search/>
   <div class="grid grid-cols-1 md:grid-cols-4 gap-10 w-4/5 m-auto">
        {all.map(info => <Card { info } />)} 
    </div>

    
</Base>