---
import '../style/main.css'
import Card from '../components/Card.astro';
import Base from "../layouts/base.astro";
import Hero from "../components/Hero.astro";
import Search from '../components/Search.astro';

const all = await Astro.glob('../pages/service/*.md');

---

<Base 
title="Service & Support | Mctech Fiji"
description="ount on Mctech Computers Fiji for comprehensive service and support for all your tech needs. Our expert team is dedicated to assisting you with computer repairs, software troubleshooting, network setups, and more. Trust us to keep your technology running smoothly."
keywords="Service & Support, Mctech Computers Fiji, comprehensive service, expert team, computer repairs, software troubleshooting, network setups, technology assistance, smooth operation"
>   

    <h1 class="h1">Service & Support</h1>
    <Search/>
   <div class="grid grid-cols-1 md:grid-cols-4 gap-10 w-4/5 m-auto">
        {all.map(info => <Card { info } />)} 
    </div>

    
</Base>