---
import '../style/main.css'
import Card from '../components/Card.astro';
import Base from "../layouts/base.astro";
import Hero from "../components/Hero.astro";
import Search from '../components/Search.astro';

const all = await Astro.glob('../pages/software/*.md');

---

<Base 
title="Software Products | Mctech Fiji"
description="Empower your devices with a diverse range of software products from Mctech Computers Fiji. Browse through operating systems, productivity suites, security software, and more. Enhance the functionality and security of your technology with our top-notch software solutions."
keywords="Software products, Mctech Computers Fiji, operating systems, productivity suites, security software, technology empowerment, software solutions, functionality enhancement    "
> 
    <h1 class="h1">Our Software Collection</h1>
    <Search/>
   <div class="grid grid-cols-1 md:grid-cols-4 gap-10 w-4/5 m-auto">
        {all.map(info => <Card { info } />)} 
    </div>

    
</Base>