/* Google font imports to see which fits best  */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {

    .h1 {
        @apply text-2xl md:text-4xl font-semibold text-center my-10
    }

    .star{
        @apply stroke-procyon-pink;
    }

    .btn{
        @apply opacity-100 py-2 px-6 rounded-3xl transition duration-200 ease-linear
    }

    .counter-svg{
      @apply w-10 h-10 stroke-white
    }

    .titles{
      @apply h1 text-3xl my-5 w-full text-center text-white
    }

    .services-cards{
        @apply relative  rounded-md bg-procyon-highlight-purple p-3 overflow-clip border border-purple-500
    }

    .service-card-img{
        @apply w-8 h-8
    }

    .footer-p{
        @apply mb-1
    }

    .circle-designs{
        @apply p-2.5 border-solid border-2 border-secondary-color-2 aspect-square rounded-full h-full
    }

}

:root {
    --procyon-highlight-purple: #6B21A8;
    --secondary-color: #C4B5FD;
    --secondary-color-2: #9333EA;
}

*{
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
  scroll-padding-top: 10vh;
 
}

/* Custom font imports */

@font-face {
    font-family: 'GrahamPotta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/GrahamPottaFreePersonalUse-MVR1P.otf") format('opentype');
  }


body {
    background-color: #eff6ff;
    /* tailwind blue 50 👆 */
    color: black;
    overflow-x: clip;
}


.lift {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    background: #111827;
}


::-webkit-scrollbar-thumb {
    background:#1f2937;
    border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
    background: #1d4ed8;        
}



