<section id="image-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="images/carousel.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/carousel.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/carousel.jpg" alt="">
			</li>
		</ul>
  </div>
</section>

<style>

.splide__slide img {
  width: 100%;
  height: auto;
}

</style>

<script>
  document.addEventListener( 'DOMContentLoaded', function () {
    new Splide( '#image-carousel' ).mount();
  } );
</script>