---
const { title, path, imgPath } = Astro.props 
---

<div>
    <a href={path} class="">

        <div class="rounded-md cursor-pointer overflow-x-clip w-full transition h-full relative bg-blue-100 text-center p-10  flex flex-col md:gap-5  gap-0 cont pt-2">

            <div class="img mx-auto z-10 relative">
                <img src={imgPath} alt="" class="drop-shadow-md z-10 h-full mx-auto object-contain" loading="lazy">
            </div>

            <div class="flex flex-col gap-5 z-10">
                <p class="text-2xl capitalize">{title}</p>
                <a href={path}>
                    <button class="productButton bg-blue-700 md:px-8 rounded-md md:py-2 p-2 px-4 md:text-lg text-sm mx-auto text-white ">Our Stock</button>
                </a>
                
            </div>
        </div>

    </a>
</div>

<style>

.cont::before{
    content: "";
    height: 25%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    background: #1d4ed8;
    z-index:0;

}

.img{height: 224px;}

.cont:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    scale: 1.007;
}

.productButton:hover{
    transition: 0.3s;
    background: #2563eb;
}


</style>