

<div  class="border-2 border-blue-700  rounded-md flex items-center gap-2 mb-10 w-4/5 mx-auto overflow-hidden">
    <input placeholder="Search product name" type="text" name="" id="search" class="md:text-base text-sm search bg-blue-50 md:py-2 md:px-4 px-2 w-full outline-none">
    <button type="submit" class="md:py-3 md:px-4 p-1 bg-blue-700 text-white flex items-center h-full">
        <img src="/svg/search.svg" alt="" class="md:w-6 w-4 stroke-white">
    </button>
</div>

<script is:inline>
    
    const form = document.querySelector("#search")
    form.addEventListener("input", (e) => {
        e.preventDefault()
        const blogPosts = [...document.querySelectorAll('.blog-post')]; 
        const query = document.querySelector("#search").value.toLocaleLowerCase()
        blogPosts.forEach(post => {
            
            const title = post.querySelector('.post-title').textContent.toLowerCase();
            const tag = post.querySelector('.post-tag').textContent.toLowerCase();
            const content = post.querySelector('.post-content').textContent.toLowerCase();
            if (title.includes(query) || content.includes(query) || tag.includes(query)) {
                post.style.display = 'block';
                
            } else {
                post.style.display = 'none';
            }
        })
    })
</script>