backend:
  name: git-gateway
  branch: main 

media_folder: "public/images" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images"

collections:
  - name: "computers" # Used in routes, e.g., /admin/collections/blog
    label: "Computers" # Used in the UI
    folder: "src/pages/computers" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{name}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Layout", name: "layout", widget: "hidden", default: "../../layouts/product.astro"}
      - {label: "Title", name: "name", widget: "string"}
      - { label: "Tags", name: "tag", widget: "list", default: "computer" }
      - {label: "Featured Image", name: "img", widget: "image"}
      - {label: "Body", name: "description", widget: "markdown"}
      - {label: "Specs", name: "specs", widget: "list"}
      - {label: "Price", name: "price", widget: "string"}


  - name: "Networks" # Used in routes, e.g., /admin/collections/blog
    label: "Networks" # Used in the UI
    folder: "src/pages/networks" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{name}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Layout", name: "layout", widget: "hidden", default: "../../layouts/product.astro"}
      - {label: "Title", name: "name", widget: "string"}
      - {label: "Tags", name: "tag", widget: "list", default: "network" }
      - {label: "Featured Image", name: "img", widget: "image"}
      - {label: "Body", name: "description", widget: "markdown"}
      - {label: "Specs", name: "specs", widget: "list"}
      - {label: "Price", name: "price", widget: "string"}


  - name: "printers" # Used in routes, e.g., /admin/collections/blog
    label: "Printers" # Used in the UI
    folder: "src/pages/printers" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{name}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Layout", name: "layout", widget: "hidden", default: "../../layouts/product.astro"}
      - {label: "Title", name: "name", widget: "string"}
      - { label: "Tags", name: "tag", widget: "list", default: "printer" }
      - {label: "Featured Image", name: "img", widget: "image"}
      - {label: "Body", name: "description", widget: "markdown"}
      - {label: "Specs", name: "specs", widget: "list"}
      - {label: "Price", name: "price", widget: "string"}

  
   - name: "laptop" # Used in routes, e.g., /admin/collections/blog
    label: "laptop" # Used in the UI
    folder: "src/pages/laptop" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{name}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Layout", name: "layout", widget: "hidden", default: "../../layouts/product.astro"}
      - {label: "Title", name: "name", widget: "string"}
      - { label: "Tags", name: "tag", widget: "list", default: "laptop" }
      - {label: "Featured Image", name: "img", widget: "image"}
      - {label: "Body", name: "description", widget: "markdown"}
      - {label: "Specs", name: "specs", widget: "list"}
      - {label: "Price", name: "price", widget: "string"}

  - name: "accessories" # Used in routes, e.g., /admin/collections/blog
    label: "laptop" # Used in the UI
    folder: "src/pages/accessories" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{name}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Layout", name: "layout", widget: "hidden", default: "../../layouts/product.astro"}
      - {label: "Title", name: "name", widget: "string"}
      - { label: "Tags", name: "tag", widget: "list", default: "laptop" }
      - {label: "Featured Image", name: "img", widget: "image"}
      - {label: "Body", name: "description", widget: "markdown"}
      - {label: "Specs", name: "specs", widget: "list"}
      - {label: "Price", name: "price", widget: "string"}

  - name: "accessories" # Used in routes, e.g., /admin/collections/blog
      label: "laptop" # Used in the UI
      folder: "src/pages/accessories" # The path to the folder where the documents are stored
      create: true # Allow users to create new documents in this collection
      slug: "{{name}}" # Filename template, e.g., YYYY-MM-DD-title.md
      fields: # The fields for each document, usually in front matter
        - {label: "Layout", name: "layout", widget: "hidden", default: "../../layouts/product.astro"}
        - {label: "Title", name: "name", widget: "string"}
        - { label: "Tags", name: "tag", widget: "list", default: "laptop" }
        - {label: "Featured Image", name: "img", widget: "image"}
        - {label: "Body", name: "description", widget: "markdown"}
        - {label: "Specs", name: "specs", widget: "list"}
        - {label: "Price", name: "price", widget: "string"}

  

