---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
const { title, description, keywords } = Astro.props
---

<html lang="en" class="overflow-x-clip">


    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={description}>
        <meta name="keywords" content={keywords}>
        <link rel="icon" type="image/png" href="/images/logo.png">	
        <title>{title}</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
    <body id="body">
        <Nav />
    
        <slot />
        
        <Footer/>

    </body>

    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
    
   

</html>