---
import '../style/main.css'
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Card from '../components/Card.astro';

const { title, description, keywords } = Astro.props
const { frontmatter } = Astro.props



---

<html lang="en" class="overflow-x-clip">


    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={description}>
        <meta name="keywords" content={keywords}>
        <link rel="icon" type="image/png" href="/images/fav.png">		
        <title>{ frontmatter.name }</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
    <body id="body">
        <Nav />
    
        <div>
            <h1 class="h1">{ frontmatter.name }</h1>
            <div class="flex md:flex-row flex-col md:gap-10 justify-between items-start md:w-2/3 w-4/5 m-auto">
                <div class="md:w-1/2 h-full ">
                    <img src={ frontmatter.img } alt="" class="h-full mix-blend-multiply">
                </div>
                <div class="md:w-1/2 my-auto h-full bg-blue-100 rounded-md shadow-xl p-5 flex flex-col justify-between">
                   <div class="mb-5">
                        <p class="text-2xl">Specifications</p>
                        <ul class="">
                            { frontmatter.specs.map( spec => <li class="">&rarr; { spec }</li>) }
                        </ul>
                   </div>
                    <div class="mb-5">
                        <p class="text-2xl">Description</p>
                        <p class=""> { frontmatter.description }</p>
                    </div>
                    <p class="text-2xl font-semibold text-blue-600">{ frontmatter.price }</p>
                </div>
            </div>

            <div>

            </div>
        </div>

        
        <Footer/>
    </body>

    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
    
   

</html>